.container {
	display: flex;
	flex-direction: column;
}
@media (max-width: 1020px) {
	.video {
		width: 700px;
		transform: translateX(-105px);
	}
}
@media (max-width: 780px) {
	.video {
		width: 600px;
		transform: translateX(-55px);
	}
}
@media (max-width: 640px) {
	.container {
		min-height: 240px;
	}
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: none;

	}
}
