/* // Hero */
.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}

.titleWrapperHero {
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 1440px;
	position: relative;
}

.titleHero {
	text-transform: uppercase;
	color: #fbfbfb;
	font-size: 84px;
	font-weight: 800;
	transform: scale(0.7, 1.1) skew(-20deg, 0);
}
.titleItemRedBoxHero {
	background-color: #e23239;
	padding: 10px 40px;
}

.titleHero:nth-child(1) {
	margin-right: -170px;
}
.titleHero:nth-child(2) {
	margin-right: 70px;
}
.titleHero:nth-child(3) {
	margin-right: -100px;
}
.titleHero:nth-child(4) {
	margin-right: -30px;
}
.containerHeroContent {
	max-width: 1440px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.imageContainerHero {
	height: 1150px;
	width: 900px;
	overflow: hidden;
}
.heroContainer {
	position: relative;
	z-index: 0;
	width: 100%;
	max-width: 1440px;
}
.imageWrapperHero {
	position: absolute;
	top: 28px;
	left: -120px;
}
.groundImage {
	position: absolute;
	left: -50px;
	z-index: 1;
	top: -50px;
}
.teamImage {
	position: absolute;
	top: -280px;
	left: -20px;
	z-index: 2;
}
.gradientBlack {
	position: absolute;
	z-index: 2;
	top: -40px;
	left: -50px;
	width: 100%;
	height: 760px;
	background: linear-gradient(
		rgba(27, 27, 27, 0.01) 0%,
		rgba(27, 27, 27, 0.1) 70%,
		rgba(27, 27, 27, 0.7) 80%,
		rgba(27, 27, 27, 1) 96%
	);
}
.gradientBlackGround {
	position: absolute;
	z-index: 1;
	top: -70px;
	left: -50px;
	width: 100%;
	height: 760px;
	background: linear-gradient(
		rgba(27, 27, 27, 0.7) 0%,
		rgba(27, 27, 27, 0.7) 70%,
		rgba(27, 27, 27, 1) 100%
	);
}

.pinContainerHero {
	display: flex;
	flex-direction: column;
	max-width: 530px;
	width: 100%;
	padding-top: 60px;
	gap: 60px;
	position: relative;
	z-index: 5;
}
.pinContainerHeroContainer {
	display: flex;
	width: 100%;
	justify-content: end;
	overflow: hidden;
}
.pinTitleHero {
	max-width: 433px;
	color: #bdbdbd;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 400;
	opacity: 0.6;
}
.pinBtnContainer {
	display: flex;
	gap: 50px;
	max-width: 490px;
}
.pinBtnContainer:last-child {
	align-items: end;
}
.pinAddressContainerHero {
	display: flex;
	gap: 20px;
}
.addressHero {
	color: #787878;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	max-width: 200px;
}
.titleHero:nth-child(1),
.titleHero:nth-child(2) {
	position: relative;
	z-index: 1;
}
.titleHero:nth-child(3),
.titleHero:nth-child(4) {
	position: relative;
	z-index: 3;
}

@media (max-width: 1710px) {
	.heroContainer {
		max-width: 1200px;
	}
	.teamImage {
		top: -260px;
		left: -60px;
		z-index: 2;
	}
	.groundImage {
		position: absolute;
		left: -50px;
		z-index: 1;
		top: -30px;
	}
	.gradientBlackGround {
		top: -50px;
	}
	.gradientBlack {
		top: -20px;
	}

	.titleHero:nth-child(1) {
		margin-right: -180px;
		line-height: 1.3;
	}
	.titleHero:nth-child(2) {
		margin-right: -20px;
		line-height: 1.3;
	}
	.titleHero:nth-child(3) {
		margin-right: -160px;
		line-height: 1.3;
	}
	.titleHero:nth-child(4) {
		margin-right: -90px;
		line-height: 1.3;
	}
	.pinContainerHero {
		max-width: 460px;
	}
	.addressHero {
		max-width: 180px;
	}
	/* .pinContainerHero {
		right: -60px;
	} */
	.pinBtnContainer {
		gap: 30px;
	}
	.pinBtnContainer:last-child {
		align-items: start;
	}
	.pinAddressContainerHero {
		align-items: start;
	}
	.pinAddressContainerHero img {
		margin-top: 10px;
	}
}
@media (max-width: 1440px) {
	.pinTitleHero {
		font-size: 18px;
	}
	.teamImage {
		left: -10px;
	}
	.groundImage {
		left: 0px;
	}
	.gradientBlackGround {
		left: 0;
	}
}
@media (max-width: 1280px) {
	.titleHero {
		font-size: 80px;
	}
	.pinTitleHero {
		font-size: 18px;
	}
	.teamImage {
		left: 50px;
		top: -230px;
	}
	.groundImage {
		left: 50px;
	}
	.gradientBlackGround {
		top: -150px;
	}
	.gradientBlack {
		top: -120px;
	}
	.pinContainerHero {
		padding-top: 50px;
		gap: 40px;
		right: -30px;
	}
	.titleHero {
		left: -20px;
	}
}
@media (max-width: 1200px) {
	.titleHero {
		font-size: 64px;
	}
	.heroContainer {
		max-width: 940px;
	}
	.titleHero:first-child {
		margin-right: -156px;
	}
	.titleHero:nth-child(2) {
		margin-right: -85px;
	}
	.titleHero:nth-child(3) {
		margin-right: -150px;
	}
	.titleHero:nth-child(4) {
		margin-right: 0;
	}
	.groundImage {
		left: -20px;
	}
	.teamImage {
		left: -10px;
		top: -210px;
	}
	.pinBtnContainer {
		gap: 20px;
	}
	.pinAddressContainerHero img {
		opacity: 0.7;
	}
	.gradientBlack {
		top: -180px;
	}
}
@media (max-width: 1024px) {
	.groundImage {
		left: 40px;
	}
	.teamImage {
		left: 50px;
		top: -190px;
	}
	.pinBtnContainer {
		gap: 20px;
	}
	.pinAddressContainerHero img {
		opacity: 0.7;
	}
	.gradientBlack {
		top: -90px;
		height: 600px;
	}
	.gradientBlackGround {
		top: -150px;
		height: 600px;
	}
	.titleHero:first-child {
		margin-right: -145px;
	}
	.titleHero:nth-child(3) {
		margin-right: -140px;
	}
}
@media (max-width: 960px) {
	.containerHeroContent > div:first-of-type {
		align-items: center;
	}

	.titleWrapperHeroContainer {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 52px;
	}
	.titleHero:first-child {
		margin-right: 0;
		line-height: 0.9;
		padding-bottom: 10px;
	}
	.titleHero:nth-child(2) {
		margin-right: 0;
		line-height: 0.9;
		padding-bottom: 10px;
	}
	.titleHero:nth-child(3) {
		margin-right: 0;
		line-height: 0.9;
	}
	.titleHero:nth-child(4) {
		margin-right: 0;
		line-height: 0.9;
		padding-bottom: 20px;
		justify-content: end;
		align-items: center;
		display: flex;
		width: 100%;
		padding-top: 5px;
		margin-right: -100px;
	}
	.titleWrapperHero {
		align-items: center;
	}
	.titleItemRedBoxHero {
		padding: 7px 25px;
	}
	.wrapper {
		padding-top: 30px;
	}
	.pinContainerHeroContainer {
		width: 100%;
		justify-content: center;
	}
	.pinContainerHero {
		max-width: 345px;
	}
	.pinBtnContainer {
		flex-direction: column;
	}
	.pinTitleHero {
		max-width: 300px;
	}
	.addressHero {
		max-width: 200px;
	}
	.groundImage {
		left: 55px;
		top: 65px;
	}
	.gradientBlackGround {
		top: -60px;
	}
	.teamImage {
		top: -20px;
		left: 200px;
	}
	.gradientBlack {
		top: -20px;
	}
	.pinContainerHeroContainerWrapper {
		width: 100%;
		max-width: 700px;
		justify-content: end;
		display: flex;
	}
}
@media (max-width: 900px) {
	.imageWrapperHero {
		left: -150px;
	}
}
@media (max-width: 850px) {
	.imageWrapperHero {
		left: -180px;
	}
}
@media (max-width: 800px) {
	.imageWrapperHero {
		left: -200px;
	}
}
@media (max-width: 750px) {
	.imageWrapperHero {
		left: -230px;
	}
}
@media (max-width: 700px) {
	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 48px;
	}
	.pinTitleHero {
		font-size: 16px;
		max-width: 250px;
	}
	.imageWrapperHero {
		left: -250px;
	}
}
@media (max-width: 660px) {
	.imageWrapperHero {
		left: -280px;
	}
	.titleItemHero {
		margin-right: -5px;
	}
}
@media (max-width: 640px) {
	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 36px;
	}
	.pinContainerHero {
		padding-top: 20px;
		gap: 30px;
	}
	.titleHero:first-child {
		margin-right: 0;
	}
	.titleHero:nth-child(2) {
		margin-right: -80px;
	}
	.titleHero:nth-child(3) {
		margin-right: -30px;
	}
	.titleHero:nth-child(4) {
		margin-right: -120px;
	}
	.pinAddressContainerHero {
		gap: 15px;
	}
	.pinAddressContainerHero img {
		width: 26px;
		height: 26px;
	}
	.teamImage {
		top: 145px;
		left: 355px;
	}
	.groundImage {
		left: 230px;
		top: 120px;
	}
	.gradientBlackGround {
		height: 400px;
		top: 5px;
		width: 400px;
		left: 250px;
	}
	.gradientBlack {
		height: 400px;
		top: 20px;
		width: 400px;
		left: 260px;
	}
	.pinContainerHero {
		max-width: none;
		width: auto;
	}
	.heroContainer {
		justify-content: center;
		display: flex;
	}
	.imageContainerHero {
		width: auto;
	}
	.addressHero {
		font-size: 14px;
		max-width: 180px;
	}
}
@media (max-width: 620px) {
	.teamImage {
		left: 325px;
	}
	.groundImage {
		left: 210px;
		top: 120px;
	}
}
@media (max-width: 560px) {
	.teamImage {
		left: 305px;
	}
	.groundImage {
		left: 200px;
	}
}
@media (max-width: 520px) {
	.teamImage {
		left: 280px;
	}
	.groundImage {
		left: 180px;
	}
}
@media (max-width: 480px) {
	.groundImage {
		left: 150px;
		top: 60px;
	}
	.teamImage {
		top: 115px;
		left: 270px;
	}
	.imageContainerHero {
		width: 100%;
		overflow: hidden;
	}
	.heroContainer {
		overflow: hidden;
	}
	.pinContainerHero {
		padding-top: 500px;
		right: 0;
		width: 100%;
	}
	.gradientBlackGround {
		left: 280px;
		top: 55px;
		width: 480px;
		height: 490px;
	}
	.gradientBlack {
		width: 480px;
		height: 460px;
		left: 280px;
		top: 160px;
	}

	.pinTitleHero {
		font-size: 24px;
		max-width: 350px;
	}
	.addressHero {
		font-size: 20px;
		max-width: 250px;
	}
	.pinAddressContainerHero img {
		width: 35px;
		height: 35px;
	}
	.pinBtnContainer {
		align-items: center;
	}
	.pinBtnContainer button {
		font-size: 24px;
		width: 100%;
	}
	.heroContainer {
		padding-top: 5px;
	}
	.heroContainer {
		display: flex;
		justify-content: center;
		height: 100%;
	}
	.imageWrapperHero {
		top: 50%;
		left: 50%;
		transform: translate(-520px, -477px);
	}
	.pinContainerHeroContainerWrapper {
		max-width: 90vw;
		justify-content: center;
		width: 90%;
	}
	.titleWrapperHero {
		width: 600px;
	}

	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 42px;
	}
	.titleHero:last-child {
		margin-right: -55px;
	}
}
@media (max-width: 450px) {
	.groundImage {
		left: 200px;
		top: 68px;
	}
	.teamImage {
		top: 140px;
		left: 300px;
	}
	.gradientBlackGround {
		top: 39px;
	}
	.gradientBlack {
		top: 125px;
	}
	.titleHero:last-child {
		margin-right: -30px;
	}
	.titleHero:first-child {
		margin-right: -15px;
	}
	.pinTitleHero {
		font-size: 22px;
	}
	.addressHero {
		font-size: 18px;
	}
	.pinAddressContainerHero img {
		width: 30px;
		height: 30px;
	}
	.pinContainerHero {
		padding-top: 480px;
	}
}
@media (max-width: 420px) {
	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 38px;
	}
	.titleHero:last-child {
		margin-right: -10px;
	}
}
@media (max-width: 400px) {
	.titleHero:first-child {
		margin-right: -25px;
	}
	.titleHero:last-child {
		margin-right: 10px;
	}
	.pinBtnContainer button {
		font-size: 22px;
		height: 60px;
	}
}
@media (max-width: 380px) {
	.groundImage {
		left: 250px;
		top: 85px;
	}
	.teamImage {
		top: 160px;
		left: 310px;
	}
	.gradientBlackGround {
		top: 26px;
	}
	.gradientBlack {
		top: 120px;
	}
	.titleItemHero,
	.titleItemRedBoxHero {
		font-size: 36px;
	}
	.pinContainerHero {
		padding-top: 460px;
	}
	.pinTitleHero {
		font-size: 20px;
	}
	.addressHero {
		font-size: 16px;
		max-width: 200px;
	}
	.titleHero:last-child {
		margin-right: 40px;
	}
}
