.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 250px;
}
.gridWrapper {
	max-width: 1160px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.gridWrapper > .gridContainer:nth-child(1) {
	display: grid;
	grid-template-columns: 1fr 700px;
	gap: 20px;
}
.gridWrapper > .gridContainer:nth-child(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.gridWrapper > .gridContainer:nth-child(3) {
	display: grid;
	grid-template-columns: 700px;
	gap: 20px;
}
.cardContainer {
	background-color: rgb(27, 27, 27);
	width: 100%;
	height: 420px;
	position: relative;
	z-index: 0;
}
.titleWrapper {
	padding-bottom: 80px;
	max-width: 1440px;
}
.titleItem {
	text-transform: uppercase;
	color: #fbfbfb;
	font-size: 76px;
	font-weight: 800;
	transform: scale(0.7, 1.1) skew(-20deg);
}
.titleLastContainer {
	display: flex;
	align-items: center;
}
.lastItem {
	background-color: #e23239;
	padding: 5px 35px 5px 35px;
	margin-left: -180px;
}
.firstItem {
	margin-left: -225px;
	padding-bottom: 10px;
}
.imgContainer > img:nth-child(1) {
	transform: rotate(-8deg) scale(1.1);
}
.secondItem {
	margin-left: -50px;
}
.titleLastContainer p:nth-child(1) {
	margin-left: -50px;
}
@media (max-width: 1280px) {
	.titleItem {
		font-size: 74px;
	}
	.lastItem {
		margin-left: -185px;
	}
	.firstItem {
		margin-left: -245px;
	}
	.secondItem {
		margin-left: -70px;
	}
	.titleLastContainer p:nth-child(1) {
		margin-left: -70px;
	}
	.titleLastContainer {
		gap: 5px;
	}
}
@media (max-width: 1200px) {
	.titleLastContainer {
		padding-top: 10px;
	}
	.titleItem {
		font-size: 62px;
	}
	.firstItem {
		margin-left: -195px;
	}
	.titleLastContainer p:nth-child(1) {
		margin-left: -60px;
	}
	.lastItem {
		margin-left: -150px;
		padding: 5px 20px 5px 20px;
	}
	.gridWrapper {
		max-width: 940px;
	}
	.gridWrapper > .gridContainer:nth-child(1) {
		display: grid;
		grid-template-columns: 1fr 640px;
		gap: 20px;
	}
	.gridWrapper > .gridContainer:nth-child(2) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.gridWrapper > .gridContainer:nth-child(3) {
		display: grid;
		grid-template-columns: 640px;
		gap: 20px;
	}
	.cardContainer {
		max-height: 350px;
	}
	.imgContainer > img:nth-child(1) {
		margin-top: 50px;
		transform: translate(-20px, 0) rotate(-8deg) scale(1.3);
	}
	.imgContainer > img:nth-child(2) {
		margin-top: 40px;
	}
}
@media (max-width: 960px) {
	.imgContainer {
		display: none;
	}
	.gridWrapper > .gridContainer:nth-child(1) {
		grid-template-columns: 1fr;
	}
	.gridWrapper > .gridContainer:nth-child(2) {
		grid-template-columns: 1fr;
	}
	.gridWrapper > .gridContainer:nth-child(3) {
		grid-template-columns: 1fr;
	}
	.gridWrapper {
		max-width: 620px;
	}
	.cardContainer {
		max-height: 270px;
	}
	.titleItem {
		font-size: 48px;
		white-space: nowrap;
	}
	.titleLastContainer {
		margin-left: 40px;
		width: 100%;
		justify-content: center;
	}
	.firstItem {
		margin-left: -225px;
	}
	.titleWrapper:nth-child(1) > p:nth-child(2) {
		margin-left: 120px;
	}
	.lastItem {
		margin-left: -120px;
		padding: 5px 10px;
	}
	.titleWrapper {
		max-width: 940px;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: 0;
	}
	.titleLastContainer {
		gap: 10px;
	}
}
@media (max-width: 700px) {
	.titleItem {
		font-size: 44px;
	}
	.titleLastContainer {
		gap: 15px;
	}
	.firstItem {
		margin-left: -250px;
	}
	.titleWrapper:first-child > p:nth-child(2){
		margin-left: -70px;
	}

}
@media (max-width: 640px) {
	.titleItem {
		font-size: 32px;
	}
	.titleWrapper {
		padding-bottom: 20px;
	}
	.gridWrapper > .gridContainer:nth-child(1) {
		grid-template-columns: 1fr;
	}
	.gridWrapper > .gridContainer:nth-child(2) {
		grid-template-columns: 1fr;
	}
	.gridWrapper > .gridContainer:nth-child(3) {
		grid-template-columns: 1fr;
	}
	.gridWrapper {
		max-width: 460px;
	}
	.cardContainer {
		max-height: 290px;
	}
	.titleLastContainer {
		gap: 45px;
		margin-left: 40px;
	}
	.lastItem {
		padding-left: 20px;
		padding-right: 20px;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: -75px;
	}
	.firstItem {
		margin-left: -195px;
	}
}
@media (max-width: 480px) {
	.wrapper{
		padding-top: 200px;
	}
	.titleItem {
		font-size: 36px;
	}
	.titleLastContainer {
		margin-left: 30px;
	}
	.gridWrapper {
		max-width: 90vw;
	}
	.gridContainer {
		grid-auto-rows: clamp(200px, 107vw, 515px);
	}
	.cardContainer {
		max-height: none;
		height: auto;
	}
	.firstItem {
		margin-left: -120px;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: -80px;
	}
	.titleLastContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.titleLastContainer > p:nth-child(1) {
		margin-left: -265px;
	}
	.lastItem {
		margin-left: -70px;
	}
	.titleWrapper {
		padding-bottom: 50px;
	}
}
@media (max-width: 450px) {
	.firstItem {
		margin-left: -85px;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: -30px;
	}
	.titleLastContainer > p:first-child {
		margin-left: -225px;
	}
}
@media (max-width: 420px) {
	.firstItem {
		margin-left: -70px;
	}
	.titleLastContainer > p:first-child {
		margin-left: -210px;
	}
	.lastItem {
		margin-left: -50px;
	}
}
@media (max-width: 400px) {
	.firstItem {
		margin-left: -60px;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: -5px;
	}
	.titleLastContainer > p:first-child {
		margin-left: -190px;
	}
}
@media (max-width: 380px) {
	.firstItem {
		margin-left: -40px;
	}
	.titleItem {
		font-size: 34px;
	}
	.titleWrapper:first-child > p:nth-child(2) {
		margin-left: -5px;
	}
	.titleLastContainer > p:first-child {
		margin-left: -180px;
	}
}
