.wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}


/* // Hero */


.titleWrapperHero{
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 1440px;
	position: relative;
	z-index: 1;
}
.titleHero{
	text-transform: uppercase;
	color: #fbfbfb;
	font-size: 84px;
	font-weight: 800;
	transform: scale(0.7,1.1) skew(-20deg,0);
}
.titleItemRedBoxHero{
	background-color: #E23239;
	padding: 10px 50px;
}

.titleHero:nth-child(1){
	margin-right: -170px;
}
.titleHero:nth-child(2){
	margin-right: 70px;
}
.titleHero:nth-child(3){
	margin-right: -100px;
}
.titleHero:nth-child(4){
	margin-right: -30px;
}
.containerHeroContent{
	max-width: 1440px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.wrapper{
	width: 100%;
	display: flex;
	align-items: center;
}
.heroContainer{
	position: relative;
	z-index: 0;
	width: 100%;
	max-width: 1440px;
}
.imageWrapperHero{
	position: absolute;
	z-index: 1;
	top: 28px;
	left: -120px;
}
.teamImage{
	position: absolute;
	top: -280px;
	left: 0;
	z-index: 2;
}
.gradientBlack{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 760px;
	background: linear-gradient( rgba(27,27,27,0.1) 0%, rgba(27,27,27,0.3) 70%, rgba(27,27,27,1) 96%);
}
.gradientBlackGround{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 760px;
	background: linear-gradient( rgba(27,27,27,0.7) 0%, rgba(27,27,27,0.7) 70%, rgba(27,27,27,1) 100%);
}

.pinContainerHero{
	display: flex;
	flex-direction: column;
	max-width: 530px;
	width: 100%;
	padding-top: 60px;
	gap: 60px;
}
.pinTitleHero{
	max-width: 433px;
	color: #bdbdbd;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 400;
	opacity: 0.6;
}
.pinBtnContainer{
	display: flex;
	justify-content: space-between;
	max-width: 490px;
}
.pinBtnContainer:last-child{
	align-items: end;
}
.pinAddressContainerHero{
	display: flex;
	gap: 20px;
}
.addressHero{
	color: #787878;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	max-width: 200px;
}