
.wrapper{
	position: absolute;
	max-width: 120px;
	width: 100%;
}
.button {
	position: relative;
	border: none;
	background-color: transparent;
	padding: 6px 8px;
	font-size: 14px;
	color: #000;
	display: flex;
	align-items: center;
	gap: 4px;
	outline: none;
	width: 100%;
	cursor: pointer;
	height: 65px;
}

.flag {
	font-size: 20px;
}

.code {
	margin-left: auto;
	flex-shrink: 0;
	font-size: 18px;
}

.icon {
	pointer-events: none;
	width: 14px;
	height: 14px;
	flex-shrink: 0;
	color: rgba(0, 0, 0, 0.6);
}

.options {
	width: 224px;
	border: 1px solid #d6d3d1;
	border-radius: 6px;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	transition: all 0.2s ease-in;
	transform-origin: top;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchWrapper {
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	padding: 8px;
}

.searchInput {
	width: calc(100% - 24px);
	border-radius: 9999px;
	padding: 4px 12px;
	font-size: 14px;
	background-color: #e7e5e4;
}

.searchInput:focus {
	background-color: white;
	outline: 2px solid rgba(0, 0, 0, 0.25);
	outline-offset: -2px;
}

.optionsScroll {
	max-height: 192px;
	overflow-y: auto;
	flex-grow: 1;
}

.option {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 6px;
	cursor: pointer;
	user-select: none;
}

.option:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.checkIcon {
	width: 16px;
	height: 16px;
	color: black;
	visibility: hidden;
}

[data-selected] .checkIcon {
	visibility: visible;
}

.optionFlag {
	font-size: 16px;
}

.optionCode {
	width: 36px;
	text-align: right;
	font-size: 14px;
	font-variant-numeric: tabular-nums;
	color: black;
	flex-shrink: 0;
}

.optionName {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.option:hover .optionName {
	color: black;
}

.noResults {
	text-align: center;
	padding: 6px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
}


/* dropdown */

.dropdown{
	width: 449px;
	background-color: #fff;
	position: relative;
	z-index: 2;
	margin-left: 0.5px;
	margin-top: 5px;
}