.wrapper {

	height: 100%;
	position: relative;
	z-index: 0;
	background-color: #262626;
}

.imgContainer {
	position: relative;
	width: 100%;
	height: 317px; /* можно поставить любую высоту */
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.image {
	object-fit: cover;
	object-position: top;
}
.descriptionWrapper {
	padding: 40px;
	height: 100%;
	color: #fbfbfb;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 30px;
	max-height: 365px;
}
.title {
	text-transform: uppercase;
	font-size: 28px;
	transform: scale(0.9, 1.3);
	margin-left: -10px;
}
.subTitle {
	color: #bdbdbd;
	opacity: 0.6;
	letter-spacing: 0.1;
	font-size: 14px;
}
.text {
	line-height: 1.6;
	font-size: 20px;
	max-width: 450px;
	opacity: 0.9;
}
.titleWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.moreBtn {
	background-color: transparent;
	border: none;
	color: #bdbdbd;
	opacity: 0.7;
	font-size: 16px;
	letter-spacing: 0.4;
	cursor: pointer;
}
.moreBtn:hover{
	opacity: 0.9;
}
.btnWrapper {
	display: flex;
	gap: 15px;
	align-items: center;
}
.reservationBtn {
	width: 175px;
	height: 51px;
}
.btnWrapper p {
	font-size: 24px;
	transform: scale(0.9, 1.3);
	font-weight: 800;
	text-transform: uppercase;
}
.playBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: transparent;
	border-radius: 50%;
	border: none;
	transform: translate(-50%, -50%);
	max-height: 80px;
	max-width: 80px;
	animation: pulse 2s infinite;
}
.playBtn img {
	border-radius: 50%;

	transition: all 0.5s ease;
}
.playBtn:hover img {
	transform: scale(1.1);
	cursor: pointer;
}

.blueline{
	position: absolute;
	left: -70px;
	top: -30px;
	z-index: -1;
}
.redline{
	position: absolute;
	right: -70px;
	top: -30px;
	z-index: -1;
}
.container > button{
	display: none;
}

@media(max-width: 1200px){
	.imgContainer{
		max-height: 285px;
	}
	.descriptionWrapper{
		max-height: 320px;
	}
	.title{
		font-size: 26px;
	}
	.text{
		font-size: 16px;
    max-width: 365px;
	}
	.btnWrapper p{
		font-size: 20px;
	}
}

@media(max-width: 960px){

	.descriptionWrapper{
		max-height: 320px;
	}
	.title{
		font-size: 26px;
	}
	.text{
		font-size: 16px;
    max-width: 450px;
	}
	.btnWrapper p{
		font-size: 20px;
	}
	.imgContainer{
		max-height: 279px;
	}
	.descriptionWrapper{
		max-height: 272px;
		gap: 15px;
	}
	.redline{
		top: -10px;
	}
}

@media(max-width: 640px){
	.blueline{
		top: -10px;
		left: -50px;
	}
	.redline{
		top: -10px;
		right: -50px;
	}
	.imgContainer{
		max-height: 249px;
	}
	.descriptionWrapper{
		max-height: 260px;
	}
	.title{
		font-size: 20px;
	}
	.subTitle{
		font-size: 12px;
	}
	.text{
		font-size: 14px;
		max-width: 350px;
	}
	.moreBtn{
		font-size: 14px;
	}
	.btnWrapper p{
		font-size: 18px;
	}
	.descriptionWrapper{
		justify-content: space-between;
	}
}

@media(max-width: 480px){
	.btnWrapper button{
		display: none;
	}
	.imgContainer{
		max-height: clamp(0px, 67.7vw, 322px);
	}
	.title{
		font-size: clamp(16px, 5.4vw, 26px);
	}
	.subTitle{
		font-size: clamp(12px, 3.3vw, 16px);

	}
	.text{
		font-size: clamp(16px, 4vw, 22px);
		max-width: 327px;
		white-space: pre-line;
		line-height: 1.8;
	}
	.moreBtn{
		font-size: clamp(12px, 5vw, 16px);
	}
	.btnWrapper p{
		font-size: clamp(16px, 5vw, 24px);
		margin-left: -10px;
	}
	.descriptionWrapper{
		justify-content: normal;
		gap: clamp(10px, 5.2vw, 25px);
		padding: 25px;
		max-height: clamp(0px, 89vw , 440px)!important;
	}
	.playBtn img{
		width: clamp(66px, 18.75vw, 90px)!important;
		height: clamp(66px, 18.75vw, 90px)!important;
	}
	.playBtn:hover img{
		transform: scale(1.1);
	}
	.playBtn{
		max-width: 100px;
		max-height: 100px;
	}
	.wrapper{
		max-height: clamp(0px, 167.7vw, 805px);;
	}
	.container > button{
		display: block;
		width: 100%!important;
		height: clamp(0px, 15.6vw, 75px);
		font-size: clamp(20px, 5vw, 24px);
	}
}
/* @media(max-width:430px ){
	.descriptionWrapper{
	max-height: clamp(0px, 86vw , 430px)!important;
	}
} */




@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(224, 53, 63, 0.7);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(224, 53, 63, 0);
	}
	100% {
	}
}
